body{
    background-color: #b193d4;
}

.bg-light {
    background-color: #b4bec4!important;
}


footer{
   display: flex;
   justify-content: center;
   font-size: 10px;
    width: 100%;
    height: 50px;
    margin: auto;
    bottom: 0;
    position: fixed;
}
